__pycache__/
/output.sas
/sas_plan
/sas_plan.*
/builds/
/experiments/issue*/.venv/
/experiments/issue*/data/
/experiments/structural-symmetries-pruning/.venv/
/experiments/structural-symmetries-pruning/data/
/experiments/pddl-symmetries/.venv/
/experiments/pddl-symmetries/data
/experiments/pddl-symmetry-reduction/.venv/
/experiments/pddl-symmetry-reduction/data/
/misc/.tox/
/misc/autodoc/downward-xmlrpc.secret
